<footer>
  <div class="container">
    <div class="col-md-8">
      <ul class="left">
        <li><a href="http://cabify.com">Cabify Home</li>
        <li><a href="http://cabify.com">About Us</a></li>
        <li><a href="http://cabify.com">Jobs</a></li>
        <li><a href="http://cabify.com">Legal</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="right">
        <li><a href="http://twitter.com/CabifyDev">Twitter</a></li>
        <li><a href="http://github.com/cabify">Github</a></li>
      </ul>
    </div>
  </div>
</footer>