
{% assign current = page.url | downcase | split: '/' %}

<div class="col-md-3 relative">
  <div class="bs-docs-sidebar boxed fixed">
  {{site.enpoints}}
    <ul class="nav-stacked">
      <li>
        <a href="/scenarios/" class="nav-title-group">
          <div class="nav-title">Scenarios</div> 
          <div class="nav-subtitle">Common use cases of the Cabify API</div>
        </a>
        <ul class="nav">
          {% for scenario in site.scenarios %}
            <li><a href="/scenarios/{{scenario}}/" {% if current[2] == scenario %}class="active"{% endif %}>
                {{scenario | replace:'_',' ' | capitalize}}
              </a>
            </li>
          {% endfor %}
        </ul>
        <a href="/endpoints" class="nav-title-group">
          <div class="nav-title">Endpoints</div> 
          <div class="nav-subtitle">How to access Cabify's REST API</div>
        </a>
        <ul class="nav">
          {% for endpoint in site.endpoints %}
            <li><a href="/endpoints/{{endpoint}}/" {% if current[2] == endpoint %}class="active"{% endif %}>
                {{endpoint | replace:'_',' ' | capitalize}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
</div>
